*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    margin-left: 15rem;
}

ul li {
    list-style: none;
    padding: 1rem;

}

ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
}

nav ul li a:hover{
    color: red;
}